flows/Mapping_Object_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>New_SE_AE_Mapping_Email</name>
        <label>New SE/AE Mapping Email</label>
        <locationX>710</locationX>
        <locationY>1823</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>NewSEAEMappingEmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>New_Mapping_Email_Recipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>NewAESEMappingEmailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Collect_Email_Addresses</name>
        <label>Collect Email Addresses</label>
        <locationX>710</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>New_Mapping_Email_Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AE_Email_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Mapping_Email_Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SE_Email_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Mapping_Email_Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RVP_Email_Address</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_SE_AE_Mapping_Email</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Primary_Mapping_Check</name>
        <label>Primary Mapping Check</label>
        <locationX>842</locationX>
        <locationY>1223</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RVP_Email</targetReference>
            </connector>
            <label>Primary</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Check</name>
        <label>Status Check</label>
        <locationX>402</locationX>
        <locationY>528</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Start_Date_Today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Start_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_New</targetReference>
            </connector>
            <label>Start Date &gt; Today</label>
        </rules>
        <rules>
            <name>Start_Date_Today_End_Date</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Start_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.End_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Active</targetReference>
            </connector>
            <label>Start Date &gt; Today &gt; End Date</label>
        </rules>
        <rules>
            <name>Today_End_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.End_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Status_Innative</targetReference>
            </connector>
            <label>Today&gt;End Date</label>
        </rules>
    </decisions>
    <interviewLabel>Mapping Object Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mapping Object Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_AE_User_Record</name>
        <label>Get AE User Record</label>
        <locationX>710</locationX>
        <locationY>1583</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collect_Email_Addresses</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AE_User__r.User__r.Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>AE_Email_Address</assignToReference>
            <field>Email</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_AESE_Records</name>
        <label>Get Parent AESE Records</label>
        <locationX>402</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Status_Check</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AE_User__r.User__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SE_User__r.User__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AE_SE_Mappings__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RVP_Email</name>
        <label>Get RVP Email</label>
        <locationX>710</locationX>
        <locationY>1343</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SE_User_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Vertical_RVP__r.Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>RVP_Email_Address</assignToReference>
            <field>Email</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_SE_User_Record</name>
        <label>Get SE User Record</label>
        <locationX>710</locationX>
        <locationY>1463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_AE_User_Record</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SE_User__r.User__r.Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>SE_Email_Address</assignToReference>
            <field>Email</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Populate_Vertical_RVP</name>
        <label>Populate Vertical RVP</label>
        <locationX>402</locationX>
        <locationY>288</locationY>
        <connector>
            <targetReference>Get_Parent_AESE_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Vertical_RVP__c</field>
            <value>
                <elementReference>$Record.Vertical_RVP_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_as_Primary</name>
        <label>Remove as Primary</label>
        <locationX>1018</locationX>
        <locationY>408</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prior_Primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Status_Active</name>
        <label>Status = Active</label>
        <locationX>842</locationX>
        <locationY>1103</locationY>
        <connector>
            <targetReference>Primary_Mapping_Check</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Status_Innative</name>
        <label>Status = Innative</label>
        <locationX>1018</locationX>
        <locationY>288</locationY>
        <connector>
            <targetReference>Remove_as_Primary</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Status_New</name>
        <label>Status = New</label>
        <locationX>50</locationX>
        <locationY>648</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Populate_Vertical_RVP</targetReference>
        </connector>
        <object>Mapping__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Mapping_End_Date_Today</name>
            <connector>
                <targetReference>Status_Innative</targetReference>
            </connector>
            <label>Mapping End Date = Today</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>End_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Mapping_Start_Date_Today</name>
            <connector>
                <targetReference>Status_Active</targetReference>
            </connector>
            <label>Mapping Start Date = Today</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Start_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>NewAESEMappingEmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;New AE/SE Mapping&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>NewSEAEMappingEmailTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;You have been mapped to a new AE/SE. Please setup an intro meeting prior any external calls.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Details&lt;/p&gt;&lt;p&gt;&lt;b&gt;AE:&lt;/b&gt; {!$Record.AE_User__r.Name}&lt;/p&gt;&lt;p&gt;&lt;b&gt;SE:&lt;/b&gt; &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.SE_User__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Vertical: &lt;/b&gt;{!$Record.Vertical__c}&lt;/p&gt;&lt;p&gt; &lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://copado--se--c.documentforce.com/sfc/servlet.shepherd/version/download/0683N000001sWe7?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AE_Email_Address</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>New_Mapping_Email_Recipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RVP_Email_Address</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SE_Email_Address</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
